body {
background-color: #9ecbff;
height: auto;
width: auto;
}

p {
font-size: 18px;


}

#wrap {
width: 960px;
text-align: center;
/*align-content: center;*/
}

#block01{
width:  960px, auto;
height:500px;

}