body {
background-color: #9ecbff;
height: auto;
width: 960px;
align-content: center;
}

p {
font-size: 18px;


}

#wrap {
width: 960px;
text-align: center;
/*align-content: center;*/
}

#block01{
width:  960px, 100%, auto;
height:500px;

}

ul{ background-color: bisque;
width: 40px;
padding: 20px 60px 20px 20px;
margin: 5px
}

li {
 list-style: none;
width: 40px;
}